@media (min-width:400px) and (max-width: 700px){
    .section-index{
    top: 10px;
    justify-items: center;
    }
}

@media (min-width:400px) and (max-width: 700px){
    .titles h2{
    font-size: medium;
    right: 50px;
    color: whitesmoke;
    }
}